body {
    width: 80%;
    margin: 0 auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#hero {
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 38px;
    
   
}